---
import DefaultLayout from '#/layouts/DefaultLayout.astro'
---

<DefaultLayout title="Home">
  <section class="my-4">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
    </div>
  </section>
</DefaultLayout>
