---
import '#/assets/css/global.css'
import Footer from '#/components/Footer.astro'
import Header from '#/components/server/Header.astro'
import SiteMeta from '#/components/SiteMeta.astro'
import '@astrojs/tailwind/base.css'

interface Props {
  title?: string
  description?: string
  image?: string
  author?: string
}

const {
  title = 'Astro Blog',
  description = 'Blog using Astro',
  image = '/social-preview-image.png',
  author = 'Tri Rizeki Rifandani',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      author={author}
      image={image}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
    />
  </head>

  <body>
    <Header />

    <main id="main-content">
      <slot />
    </main>

    <Footer />
  </body>
</html>
