---
import DefaultLayout from '#/layouts/DefaultLayout.astro'

const { frontmatter } = Astro.props
---

<DefaultLayout title={frontmatter.title}>
  <div class="container prose my-12">
    <slot />
  </div>
</DefaultLayout>
